@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 210 40% 98%;
    --primary: 0 0% 13%;
    --muted: 215 19% 35%;
    --border: 179 46% 55%;
    --input: 213 27% 84%;
    --placeholder: 215 20% 65%;
    --ring: 179 46% 55%;
    --radius: 0.5rem;
    --green: 166 48% 68%;
    --lime-green: 173 43% 92%;
    --light-green: 173 49% 76%;
    --dark-green: 180 100% 23%;
    --dark-green-text: 180 100% 13%;
    --destructive: 358 100% 74%;
    --destructive-light: 357 100% 83%;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --primary: 179 46% 55%;
    --muted: 0 0% 15%;
    --border: 179 46% 55%;
    --input: 240 3.7% 15.9%;
    --ring: 179 46% 55%;
    --destructive: 0 62.8% 30.6%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;

    #nprogress {
      @apply pointer-events-none;
    }

    #nprogress .bar {
      @apply fixed right-0 top-0 z-[1000] h-1.5 w-full bg-green;
    }

    #nprogress .spinner-icon {
      @apply border-t-green;
      @apply border-l-green;
    }
  }
}
